<section class="about mainContainer py-5 mainColor d-flex align-content-center">
  <div class="container py-4 d-flex justify-content-center align-items-center">
    <div class="about-content text-center text-white">
      <h2 class="text-uppercase mb-3 fs-1">about component</h2>
      <app-line></app-line>
      <div class="row g-4">
        <div class="col-md-6">
          <p class="fs-5">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
        <div class="col-md-6">
          <p class="fs-5">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
