.item {
  cursor: pointer;
}

.layer {
  background-color: var(--mainColor);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.item:hover .layer {
  opacity: 0.9;
}

.lightBox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBox {
  max-width: 600px;
}
